# Prerequisites
*.d
*.zip
*.astcache
*.astinfo
__history/
obj/
OldStuff/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.bdsproj
!EPRCalc.bdsproj
*.local

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.ex_
*.res
*.tds
*.out
*.app
Levels.dat
Probabilities.dat
Transitions.dat
*.dat
